<article class="post">

  <!-- <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header> -->

  <div class="post-content">
  <div class="col-md-6 col-lg-4">
<div class="card">
  <img class="card-img-top" src="{{ page.images.portfolio_hero }}" alt="Card image cap">
  <div class="card-block">
  {% include portfolio-data.html %}
<!--   <div class="attributes">
  <div class="attribute">
    <div class="col-xs-6 type">
      Platform(s)
    </div>
    <div class="col-xs-6 value">
      {{ page.meta.platforms }}
    </div>
    </div>
    <div class="attribute">
    <div class="col-xs-6 type">
      Project duration
    </div>
    <div class="col-xs-6 value">
      {{ page.meta.start }} - {{ page.meta.end }}
    </div>
    </div>
    <div class="attribute">
    <div class="col-xs-6 type">
      Deployment
    </div>
    <div class="col-xs-6 value">
      {{ page.meta.current_state }}
    </div>
    </div>
    <div class="attribute">
    <div class="col-xs-6 type">
      Client relationship
    </div>
    <div class="col-xs-6 value">
      {{ page.meta.project_role }}
    </div>
    </div>
    <div class="attribute">
    <div class="col-xs-6 type">
      Corporate website
    </div>
    <div class="col-xs-6 value">
      <a href="{{ page.meta.product_url }}" target="_blank">{{ page.meta.product_url | remove: "http://"}}</a>
    </div>
    </div>
    <div class="attribute">
    <div class="col-xs-6 type">
      iPhone
    </div>
    <div class="col-xs-6 value">
      <a href="{{ page.meta.app_store_url_ios }}" target="_blank">App Store</a>
    </div>
    </div>
    </div> -->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
</div>

  </div>

{{ page.body }}

</article>




<!-- 
Product & UX Portfolio
  - process presentation
  - artifacts/
    - portfolio-artifact-1
      ... page.title
      ... page.short_title = page.title | slice
    - portfolio-artifact-n
Blog
  - blog entries by
    - date
    - category
    - etc
Bio

 -->