<article class="post">
  <div class="attributes">
    <div class="attribute">
      <div class="type">
        Platform(s)
      </div>
      <div class="value">
        {{ p.meta.platforms }}
      </div>
    </div>
    <div class="attribute">
      <div class="type">
        Project duration
      </div>
      <div class="value">
        {{ p.meta.start }} - {{ p.meta.end }}
      </div>
    </div>
    <div class="attribute">
      <div class="type">
        Deployment
      </div>
      <div class="value">
        {{ p.meta.current_state }}
      </div>
    </div>
    <div class="attribute">
      <div class="type">
        Client relationship
      </div>
      <div class="value">
        {{ p.meta.project_role }}
      </div>
    </div>
    <div class="attribute">
      <div class="type">
        Corporate website
      </div>
      <div class="value">
        <a href="{{ p.meta.product_url }}" target="_blank">{{ p.meta.product_url | remove: "http://"}}</a>
      </div>
    </div>
    <div class="attribute">
      <div class="type">
        iPhone
      </div>
      <div class="value">
        <a href="{{ p.meta.app_store_url_ios }}" target="_blank">App Store</a>
      </div>
    </div>
  </div>
  <a href="{{ p.url }}" class="btn btn-primary">Read more</a>
</article>
