.breadcrumb {
  display: inline-block;
  padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
  /*padding-left: $breadcrumb-padding-horizontal + 1rem;*/
  margin-top: -30px;
  margin-bottom: $spacer-y;
  font-size: $breadcrumb-font-size;
  list-style: none;
  background-color: $breadcrumb-bg;
  @include border-radius($border-radius);
  border-radius: (0 0 $border-radius $border-radius);
  @include clearfix;

  > li {
    float: left;

    + li::before {
      padding-right: .5rem;
      padding-left: .5rem;
      color: $breadcrumb-divider-color;
      content: "#{$breadcrumb-divider}";
    }
  }

  > .active {
    color: $breadcrumb-active-color;
  }
}
