.flex {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
.copyright {
  font-size: .75rem;
  color: $gray-light;
}
.portfolio-jumbotron h1, .portfolio-jumbotron p {
  display: inline-block;
  background-color: rgba(0,0,0,.5);
  padding: 1rem;
} 
.project-container {
  display: flex;
  -webkit-flex-direction: column; /* Safari */
  flex-direction:         column;
}
.project-container .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 6px;
}
.project-container .hero img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
.project {
  display: flex;
  -webkit-flex-direction: row; /* Safari */
  flex-direction:         row;
  justify-content: center;
  margin-top: 1rem;
}
.project > div {
  padding-top: 1rem;
}
.project h2 {
  font-size: 1.5rem;
  font-weight: 200;
}
.description {
  padding-right: 1rem;
}
.meta {
  display: flex;
  -webkit-flex-direction: column; /* Safari */
  flex-direction:         column;
  flex-wrap: nowrap;
  font-size: $font-size-xs; /*.75rem;*/
  background-color: #e0e0e0;
  padding: 0 .75rem;
  height: 100%;
  padding-bottom: 1.5rem;
  border-radius: 6px;
}
.meta-table {
  display: table;
}
.meta-table .table-row {
  display: table-row;
  width: 100%;
}
.column {
  display: table-cell;
  white-space: nowrap;
  vertical-align: top;
  padding: 0.25rem 0.5rem;
  border-bottom: .01rem solid #a0a0a0;
}
.column.wrap-ok {
  white-space: normal;
}
.btn-primary:visited {
  color: #f8f8f8;
}

/* Start Resume page overrides */
.resume ul.contacts {
    display: block;
    margin: 0 0 1rem 0;
    padding: .5rem 0 .5rem 0;
    list-style-type: none;
    text-align: left;
    border-bottom: 5px solid #b0b0b0;
    border-top: 5px solid #b0b0b0;
    font-size: .9rem;
    text-align: cetner;
}
.resume ul.contacts li {
  display: inline;
}
.resume ul.contacts li:first-child {
  display: inline;
  padding-left: 0;
  float: left;
}
.resume ul.contacts li + li:before {
  content: '| ';
  padding-left: .5rem;
}
.resume .tenure {
  float: right;
  margin-top: -53px;
}
.resume .tenure.certification {
  float: right;
  margin-top: -30px;
}
.resume .location {
  float: right;
  margin-top: -24px;
}
.resume .job-description {
  margin: 1rem 0 0 1rem;
}
.core-competencies {
  display: flex;
  flex-direction: column;
}
.core-competencies ul {
  flex-basis: 0;
  flex-grow: 1;
}
.core-competencies ul:last-of-type {
  margin-top: -15px;
}
@media (min-width: 768px) {
 .core-competencies {
  display: flex;
  flex-direction: row;
  }
  .core-competencies ul:last-of-type {
  margin-top: 0;
  }
}
.stuck-meta-contact {
    background-color: #f1f1f1;
    position:fixed;
    top:0;
    float: left;
    width: inherit;
    z-index:100;
    padding: .1rem 0;
    border-bottom: 1px solid #red;
}

/* End Resume page overrides */