---
"layout": "page"
"title": "Resume"

"resume":
    "contact":
        "name": "Vince Mease"
        "contact":
            "phone": "<a href=\"tel:+13124800720\">312-480-0720</a>"
            "email": "<a href=\"mailto:vmease@gmail.com\">vmease@gmail.com</a>"
            "linkedin": "<a href=\"http://linkedin.com/in/vincemease\" target=\"_blank\">Linkedin</a>"
            # "location": "Louisville, KY"

    "Summary": 
        "<p>Multifaceted, resourceful UX Architect, Product Owner (CSPO), and project leader with over 10 years experience specifying and designing highly useful and usable web and mobile applications across diverse knowledge domains and industries. Recognized innovator with proven ability to identify, analyze, and solve problems to increase operational efficiency and implement process change. Consistently build solid relationships across all organizational levels and spearhead multi-disciplinary teams to design, re-design, and launch cutting-edge applications with success measured in increased profit and reduced cost for the company and its clients.</p>"

    "Experience":
        "LISA App":
            "title": "Chief Product Officer"
            "tenure": "08/2015 - Present"
            "location": "Chicago, IL"
            "body":
                "<p>Responsible for all aspects of product design, backlog management, and development management across responsive web and native mobile applications in a greenfield startup environment. Applications developed facilitate marketing outreach, sales and promotional activities, and financial transactions between platform participants. Also responsible for engineering vendor management and budget control, and agile process implementation.</p>"
        "Dom & Tom":
            "title": "Sr UX Design Lead"
            "tenure": "09/2014 - 08/2015"
            "location": "Chicago, IL"
            "body":
                "<p>Lead UX design and product discovery sessions with clients developing applications spanning responsive web, iOS, and Android native application platforms.</p>
                <p>Responsible for introducing basic Lean UX process and Agile practices to a sales and development heavy organization unfamiliar with implementing such practices in an agency environment. 
                During my tenure, I had the following projects accepted by the client.</p>
                <ul>
                    <li>Responsive web app prototype (Axure) designed and developed to facilitate a large scale usability test for a Fortune 500 client seeking to validate new feature functionality being proposed in an existing product line</li>
                    <li>Native mobile application (iOS, Android) for a payments, eCommerce startup</li>
                </ul>
                <p>Additionally, design and other requirement artifacts developed for a startup in the automotive space were accepted by the client. The app itself has yet to make it to production due to a variety of issues and constraints in engineering. </p>
                <p>Lastly, completed product design and discovery activities for a startup in the beauty and wellness space before joining the client full time as Director of Product Management (see above position - LISA App)</p>"
        "Echo Global Logistics":
            "title": "Sr UX Designer"
            "tenure": "07/2012 - 09/2014"
            "location": "Chicago, IL"
            "body":
                "<p>As a <em>UX Team of One</em> and Echo's first UX hire, I was responsible for introducing UX design and Agile/Lean project management concepts to all levels and departments within the organization.</p> 
                <p>Played key role in the reorganization of an IT team of ~80, providing coaching, mentoring, and training resulting in the formation of 10 multi-disciplinary Agile product management teams who incorporated more sophisticated UX research and design processes as they matured. </p>
                <p>Design projects focused both on improving and enhancing brittle, design debt laden legacy systems as well as introducing new applications based on modern frameworks in support of new business initiatives. </p>"
        "Cars.com ":
            "title": "Interaction Design Lead - DealerTools Team"
            "tenure": "01/2011 - 07/2012"
            "location": "Chicago, IL"
            "body":
                "<p>Redesigned the Cars.com B2B application into a modern business intelligence (BI) platform capable of providing auto dealers and dealer group executives with critical intelligence and insight into their business performance, market dynamics, and ROI on ad spend with Cars.com. Lead and managed all aspects of the product discovery life-cycle from early phase ideation to backlog management as a key part of the core Scrum team (Product Manger, Architect, Interaction Designer, and Scrum Master).</p>"
        "Cars.com":
            "title": "UX Designer - Mobile Web"
            "tenure": "07/2010 - 01/2011"
            "location": "Chicago, IL"
            "body":
                "<p>Redesigned the Cars.com mobile web site (m.cars.com) by improving the information architecture and cleaning up, simplifying, and streamlining user task flows. That design and IA provides significant influence in current iOS, Android, and mobile web apps. Mobile web traffic now accounts for 30% of all Cars.com traffic (02/2012).</p>
                <p>Responsible for introducing iRise to the UX team and socializing the application throughout the rest of the company in order to gain efficiencies in the requirements gathering process. Currently, iRise adoption stands at 10 Studio licenses.</p>"
        "INCISENT Technologies":
            "title": "Sr Business Analyst"
            "tenure": "08/2006 - 06/2010"
            "location": "Chicago, IL"
            "body":
                "<p>Worked directly with the CEO and founder to specify and design SaaS products focused on improving KPIs critical to retail auto dealers in managing their pre-owned inventory. Managed data, interaction, and visual design requirements in multi-disciplinary project teams of 5 – 8 engineers (database, middle-tier, front-end, testing), and communicated with and trained the Marketing and Field Operations teams in new product process and capabilities. Products designed addressed business problems for a range of users from the front-line tactical manager to the strategy focused dealer-group executive. Clients report considerable improvement in front-end gross profit and inventory turn rate, and drastic reductions in inventory days supply.</p>"
        "Interactive Solutions International":
            "title": "Project Manager"
            "tenure": "01/2004 - 08/2004"
            "location": "Cincinnati, OH"
            "body":
                "<p>Managed and consulted on multiple concurrent PBX installation projects (3 – 10) implementing the Interactive Intelligence suite of Windows 2000 based PBX software. Procured telecom resources from the local PSTN (T1/PRI) and managed delivery and installation schedule while acting as an intermediary between the PSTN and the client’s IT/Telecom team. Defined system and end user interface requirements for call center applications, business operations, and general office connectivity such as automated/voice response units (ARU/VRU), call flow routing, and customer service oriented database lookups (e.g. customer account details, product information, etc)</p>"
        "American Century Investments":
            "title": "Business Analyst"
            "tenure": "05/1998 - 01/2004"
            "location": "Denver, CO"
            "body":
                "<p>Early member of the eCommerce team responsible for developing requirements defining American Century’s complete cradle-to-grave customer self-service account management system at www.americancentury.com (paper free, digital signature enabled account opening through account redemption). Developed new processes and intranet based tools for use in the call center to capture contact drivers and customer feedback and then used that data to implement new projects to reduce call center contacts, reduce cost, and improve web site usability. Successfully managed projects in a geographically dispersed, remote location team environment.</p>"

    "Certifications":
        "ScrumAlliance":
            "tenure": "08/2013"
            "body": "<p>Certified Scrum Product Owner</p>"

    "Education":
        "University of Louisville":
            "major": "Liberal Arts"
            "tenure": "1990 - 1994"
            "location": "Louisville, KY"
---
<div class="resume">
{% assign nodes = page.resume %}
{% for n in nodes %}
    {% assign leafs = n[1] %}
    {% if n[0] == 'contact' %}
        {% for l in leafs %}
            {% if l[0] != 'contact' %}
                <h2>{{ l[1] }}</h2> <!-- name -->
            {% else %}
                {% assign veins = l[1] %}
                <ul class="contacts">
                {% for v in veins %}
                    <li>{{ v[1] }}</li>
                {% endfor %}
                <!-- ^^ Contact methods -->
                </ul>
            {% endif %}
        {% endfor %}
    {% else %}
      {% if n[0] == 'Summary' %}
        <h3>{{ n[0] }}</h3>
        <p>{{ n[1] }}</p> <!-- sections -->
      {% elsif n[0] != 'Summary' %}
        <h3>{{ n[0] }}</h3>
        {% for l in leafs %}
          {% assign veins = l[1] %}
              <h4>{{ l[0] }}</h4> <!-- Employer -->
              {% for v in veins %}
                  {% if v[0] == 'title' %}
                      <div class="title">{{ v[1] }}</div>
                  {% endif %}
                  {% if v[0] == 'tenure' %}
                    {% if n[0] == 'Certifications' %}
                      <div class="tenure certification">{{ v[1] }}</div>
                    {% else %}
                      <div class="tenure">{{ v[1] }}</div>
                    {% endif %}
                  {% endif %}
                  {% if v[0] == 'location' %}
                    {% if n[0] == 'Education' %}
                      <div class="location education">{{ v[1] }}</div>
                    {% else %}
                      <div class="location">{{ v[1] }}</div>
                    {% endif %}
                  {% endif %}
                  {% if v[0] == 'body' %}
                      <div class="job-description">{{ v[1] }}</div>
                  {% endif %}
                  {% if v[0] == 'major' %}
                      <div class="job-description">{{ v[1] }}</div>
                  {% endif %}
              {% endfor %}
          {% endfor %}
        {% endif %}
    {% endif %}
{% endfor %}
</div>