---
layout: default 
title: "Product & UX Portfolio"
owner: "Vince Mease"
weight: 1
slug: "My recent experience has focused on native mobile app development (iOS, Android) facilitating search, scheduling, payment between consumers and beauty/wellness providers. I also have extensive UX and product ownership experience developing solutions in retail automotive (inventory management, advertising, search, SEO, etc) as well as vehicle diagnostics. Additionally, during my 15 year career, I have"
lead: "Documentation of select native mobile and responsive web apps designed, developed, and launched 2010 - 2016."

project:
  platforms: "iOS, Android, Nodejs"

---
<div class="row">
{% assign pages = site.pages | sort:"created" %}
{% for p in pages %}
  {% if p.url contains 'projects' and p.draft != true %}
    <div class="col-md-6 col-lg-6">
    <div class="card">
      <img class="card-img-top" src="{{ p.meta.portfolio_hero }}" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">{{ p.short_title }}</h4>
        <ul class="attributes">
          <li>{{ p.meta.project_role }}</li>
          <li>{{ p.meta.start }} - {{ p.meta.end }}</li>
        </ul>
        {% include portfolio-data.html %}
        <!-- <p class="card-text">{{ p.meta.short_description | slice: 0, 130 }}...</p>
        <a href="{{ p.url }}" class="btn btn-primary">Read full report</a> -->
      </div>
    </div>
    </div>
  {% endif %}
{% endfor %}

</div>